name: Display Current Time

on:
  schedule:
    - cron: "* * * * *"
  workflow_dispatch:

jobs:
  show-time:
    runs-on: ubuntu-latest
    steps:
      - name: Print current UTC time
        run: date -u
